@import "~antd/dist/antd.css";

.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.content {
    padding: 0 50px;
}

.site-layout-content {
  min-height: 46.8rem;
  padding: 24px;
  background: #fff;
}

.message-note {
  text-align: center;
  margin: auto;
}

.button-new-note {
    margin-left: 10px;
}

.button-new-note:hover {
    color: white;
  }

