header {
    background-color: #20232a;
    line-height: 40px;
    flex-direction: column;
    display: flex;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    color: rgb(21, 179, 231);
    width: 89.3%;
}

.button-add {
    background: #20232a;
    color: rgb(97, 218, 251);
    border: 1px solid;
    border-radius: 2px;
    padding: 10px 25px;
    margin: 10px;
    font-size: 14px;
    outline: none;
    cursor: pointer;
}

.button-add:hover {
    color: white;
}

h3 {
    text-align: center;
}